.sidenav-container {
  left: 0px;
  background: #e5e5e5 0% 0% no-repeat padding-box;
  opacity: 1;
  display: block;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  background: #ffff;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 40px;
}

.title-toolbar {
  color: #555555;
  font-size: 14px;
  font-weight: bold;
  font-family: "PT Sans Caption", sans-serif;
  letter-spacing: 0px;
}

.subtitle-toolbar {
  color: #555555;
  font-size: 14px;
  font-family: "PT Sans Caption", sans-serif;
  letter-spacing: 0px;
  padding: 10px;
}


.img-toolbar {
  min-height: 30px;
  max-height: 30px;
  cursor: pointer;
  /* padding: 30px; */
}

.example-spacer {
  flex: 1 1 auto;
}

.ret-button {
  background-color: #f5f5f5;
  color: #555555;
  border-radius: 10%;
  font-size: 14px;
  font-weight: bold;
  font-family: "PT Sans Caption", sans-serif;
  text-align: center;
  border: 1px #f5f5f5;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.ret-button:hover {
  background-color: #555555;
  color: white;
}

@media screen and (max-width: 767px){
  .title-toolbar {
    font-size: 12px;
    float: left;
    width: 100%;
    padding: 1px 0px 0px 0px;
    flex-direction: column;
    text-align: center;
    height: 20px;

}

.subtitle-toolbar{
  font-size: 12px;
  float: left;
  padding: 0px 0px 0px 1px;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

.div-info {
  align-items: center;
}


.mat-toolbar.mat-primary {
  padding: 15px;
}

.sidenav-container{
  display:flex;
  flex-direction: column;
}

.img-toolbar{
  min-height: 20px;
  max-height: 20px;
 }
}