<style>
  @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');
</style>

<mat-sidenav-container class="sidenav-container">

  
  <mat-sidenav-content>

    <mat-toolbar color="primary">

      <img src=".\assets\images\logo.png" class="img-toolbar" [routerLink]="['/']"/>
      <span class="example-spacer"></span>
      <div class="div-info">
        <span class="title-toolbar">Yasmin Feitosa </span>
        <span class="subtitle-toolbar">Teste de Front-end</span>
      </div>
      <button class="ret-button">CB</button>

    </mat-toolbar>
    <!-- Add Content Here -->

    <router-outlet>

    </router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>


<!-- <mat-footer-cell class="footer">
dddd
</mat-footer-cell> -->




