img.mat-card-image {
    width: 85px;
    height: 85px;
    object-fit: cover;
    background-position:center;
    border-radius: 15%;
    /* padding-left: 10px; */
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    cursor: pointer;
 }

.image-card{
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
 }


.personagem-card {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* margin: 10px; */
    background-color:#FFFFFF;
    /* padding-left: 50px; */
    /* flex-wrap: wrap; */
}

.list-item{
    color: #959595;
    /* padding-left: 200px; */
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
    font-family: "PT Sans Caption", sans-serif;
    letter-spacing: 0px;
    display:inline-block;
}

.name-item{
    color: #555555;
    /* padding-left: 200px; */
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    font-family: "PT Sans Caption", sans-serif;
    letter-spacing: 0px;
    display:inline-block;
    text-align: center;
    white-space: normal;
}





::ng-deep .mat-grid-tile .mat-figure {
    justify-content: center !important ;
    align-items: flex-start !important;
    /* display: inline-block !important; */
    display: block !important;
    flex-wrap: nowrap;
    flex-direction: column;
    
}

/* .mat-grid-tile .mat-figure {
    justify-content: flex-start !important ;
    align-items: flex-start !important;
    display: inline-block !important;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    background-color: blue;
 } */
