/* body {
    padding: 50px;
  } */

.div-head {
  padding: 50px;
}

.title {
  color: #555555;
  /* padding-left: 50px; */
  padding: 5px;
  font-size: 32px;
  font-weight: bold;
  font-family: "PT Sans Caption", sans-serif;
  letter-spacing: 0px;
}

.subtitle {
  color: #555555;
  /* padding-left: 50px; */
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  font-family: "PT Sans Caption", sans-serif;
  letter-spacing: 0px;
}



.search-input {
    /* padding-left: 50px; */
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 30px;;
}

.search-input #search {
  border-radius: 3px;
  border: 1px silver solid;
  padding-left: 10px;
  font-weight: bolder;
  height: 40px;
  width: 350px;
  border-radius: 5px;
  outline: none;
  border: none;
}
.search-input .fa {
  margin: auto -30px;
  color: #8E8E8E;
}


input[type="search"] {
  background: #FFFFFF;
  padding-right: 50px;
}

::placeholder { /* Firefox, Chrome, Opera */
    color: #65656584;
}


.indice-grid {
  color: #adadad;
  margin: 20px;
  margin-bottom: 10px;
  height: auto;
  font-size: 12px;
  font-weight: bold;
  font-family: "PT Sans Caption", sans-serif;
  letter-spacing: 0px;
}

@media screen and (max-width: 767px){
  .indice-grid {
    display:none;
   }

  .indice-grid-mobile {
    color: #adadad;
    margin: 20px;
    margin-bottom: 10px;
    height: auto;
    font-size: 12px;
    font-weight: bold;
    font-family: "PT Sans Caption", sans-serif;
    letter-spacing: 0px;
   }
   
   .search-input #search {
    width: 100%;
   }
   .subtitle {
    text-align: center;
   }

   .title {
    text-align: center;
    padding: 10px;
    font-size: 24px;
   }

   .div-head {
    padding: 20px;
    display: flex;
  }

}

@media screen and (min-width: 767px){ 
  .indice-grid-mobile {
    display:none;
   }
}