/* body {
    padding: 50px;
  } */

.div-head {
  padding: 50px;
}

.title {
  color: #555555;
  /* padding-left: 50px; */
  padding: 5px;
  font-size: 32px;
  font-weight: bold;
  font-family: "PT Sans Caption", sans-serif;
  letter-spacing: 0px;
}

.subtitle {
  color: #555555;
  /* padding-left: 50px; */
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  font-family: "PT Sans Caption", sans-serif;
  letter-spacing: 0px;
}

.search-input {
    /* padding-left: 50px; */
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 50px;;
}

.search-input #search {
  border-radius: 3px;
  border: 1px silver solid;
  padding-left: 10px;
  font-weight: bolder;
  font-style: italic;
  /* color: #ff5733; */
  height: 40px;
  width: 350px;
  border-radius: 5px;
  outline: none;
  border: none;
  padding-top: px;
}
.search-input .fa {
  margin: auto -30px;
  color: #8E8E8E;
}

input[type="search"] {
  background: #FFFFFF;
  padding-right: 50px;
}

::placeholder { /* Firefox, Chrome, Opera */
    color: #65656584;
}


